@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap');

body {
	margin: 0px auto;
	font-family: 'Poppins', sans-serif;
}
.head {
	padding: 60px 0px;
}

.main_section {
	margin: 40px 0px;
}
.main_section .nav>li>a {
	background: #662e91;
	color: #FFFFFF;
	font-size: 36px;
	font-weight: 500;
	border-radius: 0px;
	padding: 14px 123px;
	border: 1px solid #662e91;
}
.main_section .nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
	background: #fff;
	color: #662e91;
	text-shadow: 0px 4px 3.68px rgba(0, 1, 0, 0.5);
}
.main_section .nav-pills>li+li {
	margin-left: 0px;
}
.main_section div#pills-tabContent {
	border: 1px solid #662e91;
	padding: 40px 0px;
	background-image: url("../img/bg_design.png");
	background-size: cover;
	background-repeat: no-repeat;
}
.main_section .tab-content .content h1 {
	font-size: 48px;
	font-weight: 300;
	color: #000000;
	margin-bottom: 70px;
}
.main_section .tab-content .content .first_section ul {
	padding-left: 0px;
}
.main_section .tab-content .content .first_section li {
	list-style: none;
}
.main_section .tab-content .content .first_section li a img {
	width: 80px;
	height: 70px;
	border: 1px solid #000;
    padding: 10px;
    margin: 0px 0px 20px;
}
.main_section .tab-content .content .first_section .show_img {
	padding: 40px 0px;
}
.main_section .tab-content .content .first_section p {
	font-size: 16px;
	font-weight: 500;
	color: #000000;
	text-align: justify;
}
.main_section .tab-content .content .second_section button.btn.btn-default.dropdown-toggle {
    padding: 8px 20px;
	font-size: 14px;
	font-weight: 500;
	color: #702f8b;
	border: 0px;
	background: #fafafa;
}
.main_section .tab-content .content .pattern li {
	list-style: none;
	float: left;
}
.main_section .tab-content .content .pattern li a img {
	width: 68px;
    margin: 0px;
    padding-right: 10px;
}
.main_section .tab-content .content {
	padding: 0px 40px;
} 
.main_section .tab-content .content .second_section .btn-group {
    margin: 20px 0px;
}

.footer {
	padding: 50px 0px 0px;
}
.mobile_view {
	display: none;
}
.main_section .tab-content .content .pattern ul {
	 
	padding: 10px 20px;
}


@media (min-width: 320px) and (max-width: 568px) {
	.main_section .nav>li>a {
		font-size: 16px;
		padding: 8px 18px;
	}
	.main_section .tab-content .content h1 {
		font-size: 30px;
		margin-bottom: 40px;
		line-height: 42px;
	}
	.main_section div#pills-tabContent {
		padding: 10px 0px;
	}
	.main_section .tab-content .content {
		padding: 0px 20px;
	}
	.main_section .tab-content .content .first_section p {
		font-size: 10px;
		line-height: 20px;
		text-align: justify;
	}
	.desktop_view {
		display: none;
		margin-top: -68px !important;
	}
	.mobile_view {
		display: block;
	}
	.main_section .tab-content .content .first_section .show_img {
		padding: 10px 0px;
	}
	.main_section .tab-content .content .first_section .mobile_view li {
		float: left;
	}
	.main_section .tab-content .content .first_section li a img {
    	width: 60px;
		height: 50px;
	}
	.main_section .tab-content .content .pattern ul {
		padding-left: 0px;
	}
	.main_section .tab-content .content .pattern li a img {
		width: 40px;
		padding: 7px 5px;
	}
}

@media (min-width: 360px) and (max-width: 640px) {
	.main_section .nav>li>a {
		font-size: 16px;
		padding: 8px 24px;
	}
	.main_section .tab-content .content .first_section li a img {
		width: 70px;
		height: 60px;
	}
}

@media (min-width: 375px) and (max-width: 667px) {
	.main_section .nav>li>a {
		font-size: 17px;
		padding: 8px 25px;
	}
}

@media (min-width: 414px) and (max-width: 736px) {
	.main_section .nav>li>a {
		padding: 8px 32px;
	}
	.main_section .tab-content .content .first_section li a img {
		width: 80px;
		height: 70px;
	}
}

@media (min-width: 768px) and (max-width: 1024px) {
	.main_section .nav>li>a {
		font-size: 34px;
		padding: 12px 57px;
	}
	.main_section .tab-content .content .first_section .show_img {
		width: 500px;
		position: absolute;
		bottom: -20px;
		left: 150px;
	}
	.main_section .tab-content .content .first_section p {
		font-size: 14px;
		line-height: 28px;
	}
	.main_section .tab-content .content .pattern li a img {
		padding: 5px 4px;
	}
}

@media (min-width: 1024px) and (max-width: 1366px) {
	.main_section .tab-content .content .first_section .show_img {
		width: 340px;
		position: absolute;
		bottom: -330px;
		left: -70px;
	}
	.main_section .nav>li>a {
		font-size: 28px;
		padding: 24px 104px;
	}
	.main_section .tab-content .content .first_section p {
		font-size: 11px;
		line-height: 25px;
	}
}

.img-demo:hover{
	transform: scale(1.28);
}
